html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif; /* 这是注释 */
  font-family: 'Noto Sans', sans-serif;
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 5px black;
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}